pipeline/pip_GetMetadata_recursive.json
{
	"name": "pip_GetMetadata_recursive",
	"properties": {
		"activities": [
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Set variable8",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(length(variables('Queue')), 0)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Switch1",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@variables('Queue')[0].type",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "Path",
										"activities": [
											{
												"name": "Set variable1",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "CurrentFolderPath",
													"value": {
														"value": "@variables('Queue')[0].name",
														"type": "Expression"
													}
												}
											},
											{
												"name": "Get Metadata1",
												"type": "GetMetadata",
												"dependsOn": [
													{
														"activity": "Set variable1",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataset": {
														"referenceName": "ds_src_GetMetadata_Recursive",
														"type": "DatasetReference",
														"parameters": {
															"FolderPath": {
																"value": "@variables('CurrentFolderPath')",
																"type": "Expression"
															}
														}
													},
													"fieldList": [
														"childItems"
													],
													"storeSettings": {
														"type": "AzureBlobStorageReadSettings",
														"enablePartitionDiscovery": false
													},
													"formatSettings": {
														"type": "DelimitedTextReadSettings"
													}
												}
											},
											{
												"name": "Set variable2",
												"type": "SetVariable",
												"dependsOn": [
													{
														"activity": "Get Metadata1",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "_tmpQueue",
													"value": {
														"value": "@union(skip(variables('Queue'), 1), activity('Get Metadata1').output.childItems)",
														"type": "Expression"
													}
												}
											},
											{
												"name": "Set variable3",
												"type": "SetVariable",
												"dependsOn": [
													{
														"activity": "Set variable2",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "Queue",
													"value": {
														"value": "@variables('_tmpQueue')",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"value": "Folder",
										"activities": [
											{
												"name": "Set variable4",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "_tmpQueue",
													"value": {
														"value": "@union(\n  skip(variables('Queue'), 1),\n    array(\n    json(\n      concat(\n        '{\"name\": \"', \n        variables('CurrentFolderPath'), '/', variables('Queue')[0].name, \n        '\", \"type\": \"Path\"}'\n      )\n    )\n  )\n)",
														"type": "Expression"
													}
												}
											},
											{
												"name": "Set variable5",
												"type": "SetVariable",
												"dependsOn": [
													{
														"activity": "Set variable4",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "Queue",
													"value": {
														"value": "@variables('_tmpQueue')",
														"type": "Expression"
													}
												}
											}
										]
									}
								],
								"defaultActivities": [
									{
										"name": "Append variable1",
										"type": "AppendVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "FilePaths",
											"value": {
												"value": "@concat(variables('CurrentFolderPath'), '/', variables('Queue')[0].name)",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Set variable6",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "Append variable1",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "_tmpQueue",
											"value": {
												"value": "@skip(variables('Queue'), 1)",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Set variable7",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "Set variable6",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "Queue",
											"value": {
												"value": "@variables('_tmpQueue')",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			},
			{
				"name": "Set variable8",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Queue",
					"value": {
						"value": "@array(\n    json(\n        concat(\n            '{\"name\": \"', \n            pipeline().parameters.RootFolder, \n            '\", \"type\": \"Path\"}'\n        )\n    )\n)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"RootFolder": {
				"type": "string",
				"defaultValue": "Exer/Get_Metadata_Recursive"
			}
		},
		"variables": {
			"Queue": {
				"type": "Array",
				"defaultValue": [
					{
						"name": "raw/Exer/Get_Metadata_Recursive",
						"type": "Path"
					}
				]
			},
			"FilePaths": {
				"type": "Array"
			},
			"CurrentFolderPath": {
				"type": "String"
			},
			"_tmpQueue": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "Get Metadata Recursive"
		},
		"annotations": []
	}
}